<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>修改用户</title>

    <!--Bootstrap & jquery by offline-->
    <link rel="stylesheet" th:href="@{/res/bootstrap-3.3.7-dist/css/bootstrap.css}"></link>
    <script th:src="@{/res/jquery1.12.4/jquery.min.js}"></script>
    <script th:src="@{/res/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>

    <!--cdn-->
    <!-- Bootstrap & jquery by cdn -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!--<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>-->
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>-->

    <script th:src="@{/res/jquery1.12.4/jquery.msgbox.min.js}"></script>

</head>
<body class="container">
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="tips" style="color: red; padding:5px 0px; display: none;"></div>
<div class="with:80%">
    <!--<form class="form-horizontal"   th:action="@{/user//edit}" th:object="${user}"  method="post">-->
    <form class="form-horizontal" th:object="${user}">

        <input type="hidden" name="userid" id="userid" th:value="*{userid}"/>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">userName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" th:value="*{name}"
                       placeholder="userName"/>
            </div>
        </div>

        <div class="form-group">
            <label for="qq" class="col-sm-2 control-label">qq</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="qq" id="qq" th:value="*{qq}" placeholder="qq"/>
            </div>
        </div>

        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">age</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="age" id="age" th:value="*{age}" placeholder="age"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!--<input type="submit" value="Submit" class="btn btn-info" />-->
                <input type="button" value="提交" id="btn_submit" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <a href="/user/toadd" th:href="@{/user/list}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
<script>
    //方法一：后台使用HttpServletRequest或使用@RequestParam接收参数
    $(document).on("click", "#btn_submit", function () {
        var userid = $("#userid").val();
        var name = $("#name").val();
        var qq = $("#qq").val();
        var age = $("#age").val();

        var params = {
            userid: userid,
            name: name,
            qq: qq,
            age: age
        }

        $.ajax({
            type: "post",
            url: "/user/editEx",
            data: params,
            cache : false,
            success: function (res) {
                if (res.success) {
                    $.alert(res.msg, function () {
                        window.location.href = res.extra.url;
                    });
                } else {
                    $.alert(res.msg);
                }
            },
            error: function () {
                $.alert("网络错误");
            }
        })
    });


    // 方法二：get请求，后台使用 @PathVariable 接收参数
    // $(document).on("click", "#btn_submit", function () {
    //     var userid = $("#userid").val();
    //     var name = $("#name").val();
    //     var qq = $("#qq").val();
    //     var age = $("#age").val();
    //
    //     var params = {
    //         userid: userid,
    //         name: name,
    //         qq: qq,
    //         age: age,
    //         t: new Date().getTime()
    //     }
    //
    //     $.ajax({
    //         type: "get",
    //         url: "/user/editEx2/"+userid + "/"+name + "/" +qq + "/"+age,
    //         // data: params,
    //         cache: false,
    //         success: function (res) {
    //             if (res.success) {
    //                 $.alert(res.msg, function () {
    //                     window.location.href = res.extra.url;
    //                 });
    //             } else {
    //                 $.alert(res.msg);
    //             }
    //         },
    //         error: function () {
    //             $.alert("网络错误");
    //         }
    //     })
    // });


    // 方法三：Post请求，后台使用 @RequestBody+对象 接收参数 --》推荐
    // $(document).on("click", "#btn_submit", function () {
    //     var userid = $("#userid").val();
    //     var name = $("#name").val();
    //     var qq = $("#qq").val();
    //     var age = $("#age").val();
    //
    //     var params = {
    //         userid: userid,
    //         name: name,
    //         qq: qq,
    //         age: age
    //     }
    //
    //     params = JSON.stringify(params); //json对象 to jsonString //这句不能少，因为后台@RequestBody要求json格式的字符串才能注入参数
    //
    //     $.ajax({
    //         type: "post",
    //         url: "/user/editExEx",
    //         data: params,
    //         cache : false,
    //         headers : {"Content-Type" : "application/json;charset=utf-8"},
    //         success: function (res) {
    //             if (res.success) {
    //                 $.alert(res.msg, function () {
    //                     window.location.href = res.extra.url;
    //                 });
    //             } else {
    //                 $.alert(res.msg);
    //             }
    //         },
    //         error: function (res) {
    //             $.alert(res.message);
    //         }
    //     })
    // });


</script>
</body>
</html>
